In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Binarizer

In [3]:
df = pd.read_csv('train.csv',usecols=['Age','Fare','SibSp','Parch','Survived'])

In [4]:
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [5]:
df['Family'] = df['SibSp'] + df['Parch']

In [6]:
df.head()

   Survived   Age  SibSp  Parch     Fare  Family
0         0  22.0      1      0   7.2500       1
1         1  38.0      1      0  71.2833       1
2         1  26.0      0      0   7.9250       0
3         1  35.0      1      0  53.1000       1
4         0  35.0      0      0   8.0500       0

In [7]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [8]:
df

     Survived   Age     Fare  Family
0           0  22.0   7.2500       1
1           1  38.0  71.2833       1
2           1  26.0   7.9250       0
3           1  35.0  53.1000       1
4           0  35.0   8.0500       0
..        ...   ...      ...     ...
886         0  27.0  13.0000       0
887         1  19.0  30.0000       0
888         0   NaN  23.4500       3
889         1  26.0  30.0000       0
890         0  32.0   7.7500       0

[891 rows x 4 columns]

In [9]:
trf = ColumnTransformer(
    [
        ('alone' ,Binarizer(copy=False),[3])
    ],remainder='passthrough'
)

In [10]:
X = df.iloc[:,1:4]
y = df.iloc[:,0]

In [11]:
X_train , X_test , y_train ,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [15]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.6380597014925373

In [16]:
 trf.fit_transform(X_train['Family'])

IndexError: tuple index out of range